table{
    border-collapse: collapse;
}

table, td{
    border:1px solid black;
}

td{
    padding: 10px;
}

.icono-demo{
    font-size: 40px;
    color: red;
}

.lista1{
    list-style-type: circle;
}